.subdiv{
    width: 70%;
    padding: 2% 2% 2% 2%; 
}
.MuiPaper-elevation1 {
    margin-bottom: 2%;
}
.maindiv{
    display: flex;
    justify-content: center;
    padding-top: 6%;
}
.formstyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}