
.MuiToolbar-root {
    display: flex;
    justify-content: space-between;
}
.MuiDrawer-paperAnchorDockedLeft {
    width: 240px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.carddiv{
    display: flex;
    justify-content: center;
    padding-top: 5%
}
.paperdiv{
    width: 80%;
    /* background-color: 3f51b5; */
    background-color: lightgrey;
}
.MuiPaper-elevation1{
    padding: 2% 2% 2% 2%;
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap; */
}
.MuiPaper-elevation1 {
    box-shadow: 0px 10px 4px 0px rgba(0,0,0,0.2), 0px 3px 3px 0px rgba(0,0,0,0.14), 0px 3px 2px 1px rgba(0,0,0,0.12);
}
table{
    width: fill; 
    /* border: 2px solid #3f51b5;  */
    /* opacity: 0.9 */
}
td{
    text-align: center
}
.tablediv{
    display: flex;
    justify-content: center;
    /* width: 50%; */
    padding: 8% 2% 2% 2%;
}
.addtaskform{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
/*
.menuButton {
    margin-right: theme-spacing(2),
}

.title {
    flex-grow: 1,
  } */