/* .paperdiv{
    display: flex;
    justify-content: center;
}
.Paper{
    display: flex;
    justify-content: center;
    width: 38%;
    border: 1px solid gray;
    background-color: #f8f8f8;
    padding: 2% 2% 2% 2%;
}
img{
    height: 100px;
    border-radius: 50%
}
form{
    text-align: center;
    
}
Button{
    width: 100%;
}
small{
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    justify-content: center;
} */